@import "../../scss/Variables.scss";

// === CATALOG HEADER ===

.catalog__header {
  background-color: $color-gr-white;

  .catalog__header__wrapper {
    @include flexSpaceBetween;
    gap: $base;
    height: $base*6;
    margin: 0;
    padding: 0;
    list-style: none;

    .catalog__header__wrapper__item {

      .catalog__header__wrapper__item__subwrapper {
        @include flexCenter;
        gap: $base;
        margin: 0;
        padding: 0;
        list-style: none;

        .catalog__header__wrapper__item__subwrapper__item {
          font-size: $fs-xs;

          .arrow {
            font-size: $fs-xxs;
          }
        }

        .share {
          width: $base*4;
          height: $base*4;
          background-image: url('./assets/img/share.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .catalog__heading {
    font-size: $fs-xxl;
    margin: 0;
    padding: $base*2 0 $base*5 0;
    text-align: center;
    text-transform: uppercase;
  }
}

// === / CATALOG HEADER ===