.catalog .catalog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5.9375rem;
}

.catalog .catalog__header .h2 {
  font-size: 1.625rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}