.catalog__header {
  background-color: #F8F8F8;
}

.catalog__header .catalog__header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6px;
  height: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__header .catalog__header__wrapper .catalog__header__wrapper__item .catalog__header__wrapper__item__subwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3125rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__header .catalog__header__wrapper .catalog__header__wrapper__item .catalog__header__wrapper__item__subwrapper .catalog__header__wrapper__item__subwrapper__item {
  font-size: 0.75rem;
}

.catalog__header .catalog__header__wrapper .catalog__header__wrapper__item .catalog__header__wrapper__item__subwrapper .catalog__header__wrapper__item__subwrapper__item .arrow {
  font-size: 8px;
}

.catalog__header .catalog__header__wrapper .catalog__header__wrapper__item .catalog__header__wrapper__item__subwrapper .share {
  width: 18px;
  height: 18px;
  background-image: url("./assets/img/share.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.catalog__header .catalog__heading {
  font-size: 28px;
  margin: 0;
  padding: 12px 0 24px 0;
  text-align: center;
  text-transform: uppercase;
}