@import "../../scss/Variables.scss";

// === FILTER ===

.filter {
  .filter__list {
    @include flexSpaceBetween;
    height: $base * 6;
    margin: $base * 7 0 $base * 6 0;
    padding: 0;
    list-style: none;

    .filter__list__item {
      @include flexCenter;

      .filter__list__item__sublist {
        @include flexCenter;
        margin: 0;
        padding: 0;
        gap: $base * 2;
        list-style: none;

        @media (max-width: $breakpoint-xs-min) {
          gap: $base;
        }

        .filter__list__item__sublist__item {
          font-size: $fs-m;
          text-transform: uppercase;

          @media (max-width: $breakpoint-xs-min) {
            font-size: $fs-xs;
          }
        }
      }

      .buttons__grid {
        margin-left: $base * 7;
        gap: $base * 5;

        @media (max-width: $breakpoint-xs-min) {
          margin-left: 0;
          gap: $base;
        }
      }

      .buttons__sorting {
        gap: $base;
      }
    }
  }
}

// === / FILTER ===
