@import "../../scss/Variables.scss";

// === CATALOG ===

.catalog {
  .catalog__header {
    @include flexSpaceBetween;
    flex-wrap: wrap;
    margin-top: $base * 20;

    @media (max-width: $breakpoint-md-min) {
      @include flexCenter;
      margin-top: $base * 8;
    }

    .h2 {
      font-size: $fs-xl;
      font-weight: $fw-semi-bold;
      letter-spacing: 1px;
      text-transform: uppercase;

      @media (max-width: $breakpoint-md-min) {
        padding: $base * 2 0;
      }
    }

    .catalog__filter {
      @include flexSpaceBetween;
      gap: $base * 8;
      margin: 0;
      padding: 0;
      list-style: none;
      text-transform: uppercase;
      font-size: $fs-xs;
      font-weight: $fw-regular;
      color: $color-dark-06;
      cursor: pointer;

      @media (max-width: $breakpoint-md-min) {
        @include flexCenter;
        flex-wrap: wrap;
        gap: $base * 2;
      }

      .catalog__filter__item {
        transition: $transition;

        &:hover {
          font-weight: $fw-regular;
          color: $color-dark;
          transition: $transition;
        }
      }
    }
  }

  .products__container {
    @include flexSpaceBetween;
    flex-wrap: wrap;
    gap: $base * 5 $base * 3;
    margin-top: $base * 10;

    @media (max-width: $breakpoint-md-min) {
      margin-top: $base * 5;
    }

    @media (max-width: $breakpoint-xs-min) {
      gap: $base * 5 0;
    }
  }

  .product__card {
    width: 23%;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $breakpoint-lg-min) {
      width: 30%;
    }

    @media (max-width: $breakpoint-md-min) {
      width: 48%;
    }

    .product__card__image {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
    }

    .product__card__title {
      margin-top: $base * 3;
      font-size: $fs-m;
      font-weight: $fw-regular;
      color: $color-dark-06;
    }

    .product__card__price__list {
      @include flexSpaceBetween;
      list-style: none;
      margin: 0;
      margin-top: 12px;
      padding: 0;

      .product__card__price__item {
        font-size: $fs-m;
        font-weight: $fw-bold;
        color: $color-dark;

        @media (max-width: $breakpoint-xxs-min) {
          font-size: $fs-xs;
        }
      }
    }
  }
}

// === / CATALOG ===
