@import "../../scss/Variables.scss";

.footer__wrapper {
  @include flexSpaceBetween;
  gap: 2%;
  width: 100%;
  height: auto;

  .footer__wrapper__item {
    display: inline-block;
    width: 100%;
    height: auto;
  }
}