@import "../../scss/Variables.scss";

// === COMMON ===

.additional__text {
  display: flex;
  align-items: center;
  gap: $base*2;
  margin-top: $base*2;

  .h4 {
    margin: 0;
    padding: 0;
    font-size: $fs-xs;
    font-weight: $fw-semi-bold;
    color: $color-dark;
    text-transform: none;
  }

  .paragraph {
    margin: 0;
    padding: 0;
    font-size: $fs-xs;
    font-weight: $fw-semi-bold;
    color: $color-dark-06;
  }
}

// === / COMMON ===

// === PRODUCT CARD ===

.product__card {
  margin-top: 1%;
  
  .side__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3%;
    margin: 0;
    padding: 0;
    list-style: none;

    .side__left {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      width: 50%;
      height: 60vh;

      @media (max-width: $breakpoint-lg-min) {
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      .side__left__columns {
        display: flex;
        gap: 3%;
        width: 100%;
        height: 60vh;

        .side__left__columns__item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          list-style: none;

          .product__card__slider__vertical {
            @include flexCenter;
            flex-direction: column;
            gap: $base*3;
            margin: $base*3 0 0 0;
            padding: 0;
            list-style: none;
          }
        }

        .product__card__slider__vertical__item {
          max-width: $base*19;
          max-height: $base*23;
          opacity: 0.4;
          cursor: pointer;
          transition: $transition;

          &:hover, &:focus, &:active {
            opacity: 1;
            transition: $transition;
          }

          .product__card__slider__vertical__item__img {
            width: 100%;
            height: auto;
          }
        }

        .vertical__left {
          width: 17%;
          margin: 0;
          padding: 0;
        }

        .vertical__right {
          width: 35vw;
          margin: 0;
          padding: 0;
        }
      }
    }

    .side__right {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 47%;

      @media (max-width: $breakpoint-lg-min) {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
      }

      .color__text {
        display: flex;
        align-items: center;
        gap: $base*2;
        margin-top: $base*2;

        .h4 {
          margin: 0;
          padding: 0;
          font-size: $fs-xs;
          font-weight: $fw-semi-bold;
          color: $color-dark-06;
          text-transform: uppercase;
        }

        .paragraph {
          margin: 0;
          padding: 0;
          font-size: $fs-xs;
          font-weight: $fw-semi-bold;
          color: $color-dark;
        }
      }

      .color__img {
        @include flexSpaceBetween;
        gap: $base*2;
        width: 60%;
        height: auto;
        margin: $base*4 0 0 0;
        padding: 0;
        list-style: none;

        @media (max-width: $breakpoint-lg-min) {
          width: 50%;
        }

        .color__img__item {
          @include flexCenter;
          width: $base*13;
          height: $base*13;
          box-sizing: border-box;
          outline: 0 solid $color-dark;
          cursor: pointer;
          
          &:hover, &:focus, &:active {
            outline-width: 2px;
          }
          
          .color__img__item__img {
            height: $base*13;
          }
        }
      }

      .size__text {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: $base*2;
        margin-top: $base*7;

        .h4 {
          margin: 0;
          padding: 0;
          font-size: $fs-xs;
          font-weight: $fw-semi-bold;
          color: $color-dark-06;
          text-transform: uppercase;
        }

        .paragraph {
          margin: 0;
          padding: 0;
          font-size: $fs-xs;
          font-weight: $fw-semi-bold;
          color: $color-dark;
        }
      }

      .size__img {
        @include flexCenter;
        gap: $base*3;
        margin: 0;
        margin-top: $base*3;
        padding: 0;
        list-style: none;

        .size__img__item {
          @include flexCenter;
          box-sizing: border-box;
          width: $base*8;
          height: $base*8;
          font-size: $fs-xs;
          font-weight: $fw-semi-bold;
          color: $color-dark-07;
          background-color: $color-gr-white;
          background-repeat: no-repeat;
          outline: 0 solid $color-dark;
          cursor: pointer;

          &:hover, &:focus, &:active {
            background-color: $color-white;
            color: $color-dark;
            outline-width: 2px;
          }
        }
      }

      .size__guide {
        @include flexCenter;
        margin: $base*2 0 0 0;
        padding: 0;
        list-style: none;

        .size__guide__item {
          font-size: $fs-xs;
          font-weight: $fw-medium;
          color: $color-dark-06;
          
          &:nth-child(1) {
            width: $base*5;
            height: $base*5;
            background-image: url('./assets/img/hanger.svg');
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }

      .footer__wrapper {
        margin-top: $base*4;
      }
    }
  }
}

.product__card__slider__vertical__item__img {
  width: 100%;
  height: auto;
}

// === / PRODUCT CARD ===

// === CART BUTTONS ===

.product__price__and__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  width: 100%;
  height: $base*22;
  margin: 0;
  margin-top: $base*7;
  padding: 0;
  border-top: 2px solid $color-grey;
  border-bottom: 2px solid $color-grey;
  list-style: none;

  @media (max-width: $breakpoint-lg-min) {
    justify-content: center;
  }

  .price {
    margin: 0;
    padding: 0;
    font-size: $fs-xl;
    font-weight: $fw-bold;
    letter-spacing: 0;
  }

  .button__cart {
    @include spartan;
    @include flexCenter;
    width: $base*31;
    height: $base*10;
    margin: 0;
    padding: 0;
    background-color: $color-dark;
    color: $color-white-09;
    font-size: $fs-s;
    font-weight: $fw-medium;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
  
  .button__wishlist {
    @include flexCenter;
    width: $base*5;
    height: $base*5;
    line-height: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: url('./assets/img/heart.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
  }
  
  .button__scale {
    @include flexCenter;
    width: $base*5;
    height: $base*5;
    line-height: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: url('./assets/img/scale.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
  }
}

// === / CART BUTTONS ===

// === BENEFITS ===

.benefits__wrapper {
  @include flexSpaceBetween;
  width: 100%;
  margin: $base*5 0 0 0;
  padding: 0;
  list-style: none;

  @media (max-width: $breakpoint-lg-min) {
    justify-content: center;
    gap: $base*2;
  }

  .benefits__subwrapper {
    display: flex;
    align-items: center;
    gap: $base*2;
  }
  
  .benefits__item {
    @include flexCenter;
    width: $base*4;
    height: $base*8;
    margin: 0;
    padding: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .delivery {
    background-image: url('./assets/img/delivery.svg');
  }
  
  .refresh {
    background-image: url('./assets/img/refresh.svg');
  }
  
  .mail {
    background-image: url('./assets/img/mail.svg');
  }
  
  .benefits__text {
    margin: 0;
    padding: 0;
    text-transform: none;
  }
  
  .h3 {
    font-size: $fs-xs;
    font-weight: $fw-medium;
    color: $color-dark-06;
    text-transform: none;
  }
}

// === / BENEFITS ===

// === GUARANTEED ===

.guaranteed {
  @include flexSpaceBetween;
  width: 100%;
  margin: $base*5 0 0 0;
  padding: 0;
  list-style: none;
  
  .guaranteed__text {
    font-size: $fs-xs;
    font-weight: $fw-semi-bold;
    letter-spacing: 1px;
    color: $color-dark;
    text-transform: uppercase;
  }

  .guaranteed__line {
    width: 50%;
    height: 2px;
    background-color: $color-grey
  }
}

// === / GUARANTEED ===

// === PRODUCT DESCRIPTION ===

.product__description {
  width: 100%;
  margin: $base*6 0 0 0;
  padding: $base*6 0 $base*7 0;
  letter-spacing: 1px;
  border-top: 2px solid $color-grey;
  border-bottom: 2px solid $color-grey;
  font-size: $fs-xs;
  font-weight: $fw-semi-bold;
  color: $color-dark-06;
  text-transform: uppercase;
}

// === / PRODUCT DESCRIPTION ===

// === ARROW BUTTONS ===

.product__card__main {
  position: relative;
  display: flex;
  max-width: $base*90;
  height: auto;
  overflow-x: hidden;
  cursor: pointer;
}

.product__card__main__img {
  width: 100%;
  height: auto;
}

.product__card__main__slider {
  position: absolute;
  top: 43%;
  @include flexSpaceBetween;
  width: 95%;
  z-index: 2;
}

.buttons__arrow__container {
  position: absolute;
  top: 0;
  @include flexCenter;
  gap: $base*2;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 2;
}

.button__arrow {
  display: inline-block;
  width: $base*8;
  height: $base*8;
  line-height: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.arrow__up {
  background-image: url('./assets/img/arrowup.svg');
}

.arrow__down {
  background-position: center $base*3;
  background-image: url('./assets/img/arrowdown.svg');
}

.arrow__left {
  border-radius: 50%;
  background-color: $color-white;
  background-image: url('./assets/img/ellipse__arrow__left.svg');

  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
}

.arrow__right {
  border-radius: 50%;
  background-color: $color-white;
  background-image: url('./assets/img/ellipse__arrow__right.svg');

  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
}

// === / ARROW BUTTONS ===

// === / SIDE RIGHT ===

// === / PRODUCT CARD ===

// === ADDITIONAL INFORMATION ===

.additional__information__list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: $base*7 0 0 0;
  padding: 0 0 $base*7 0;
  list-style: none;
  border-bottom: 2px solid $color-grey;

  .additional__information__list__header {
    padding-bottom: $base*4;
    font-size: $fs-xs;
    font-weight: $fw-semi-bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .additional__information__list__property {
    font-size: $fs-m;
    font-weight: $fw-medium;
    margin-top: $base*4;

    .additional__information__list__value {
      font-weight: $fw-regular;
    }
  }
}

// === / ADDITIONAL INFORMATION ===

// === REVIEWS LIST ===

.reviews__list {
  margin: $base*7 0 0 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid $color-grey;

  .reviews__list__header {
    font-size: $fs-xs;
    font-weight: $fw-semi-bold;
    letter-spacing: 1px;
    padding-bottom: $base*2;
    color: $color-dark;
    text-transform: uppercase;
  }

  .reviews__list__item {
    margin-top: $base*5;

    .reviews__list__item__sublist {
      @include flexSpaceBetween;
      margin: 0;
      padding: 0;
      list-style: none;

      .reviews__list__item__sublist__item {
        font-size: $fs-xs;
        font-weight: $fw-medium;
        
        .reviews__list__item__sublist__item__sublist {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          gap: $base*2;
          margin: 0;
          padding: 0;
          list-style: none;

          .message {
            width: $base*3;
            height: $base*3;
            background-image: url('./assets/img/message.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          .reviews__list__item__sublist__item__sublist__item {
            font-size: $fs-xxs;
            font-weight: $fw-medium;
            color: $color-dark-06;

            .product__card__rating {

              .product__card__rating__item__main {
                @include flexCenter;
                width: $base*4;
                height: $base*4;
                list-style: none;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url('./assets/img/star__filled.svg');
                cursor: pointer;
              }
            }
          }
        }
      }

      .name {
        font-size: $fs-m;
        font-weight: $fw-medium;
      }
    }
  }

  .review {
    font-size: $fs-m;
    font-weight: $fw-regular;
    line-height: $base*4;
    margin-top: $base*3;
    padding-bottom: $base*6;
  }
}

// === / REVIEWS LIST ===