.subscribe {
  margin-top: 5.9375rem;
  padding: 3.75rem 0 3.75rem 0;
  overflow-y: hidden;
  background: #f3f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f2f2), to(#dcdbdb));
  background: -o-linear-gradient(top, #f3f2f2 0%, #dcdbdb 100%);
  background: linear-gradient(180deg, #f3f2f2 0%, #dcdbdb 100%);
}

.subscribe .form__subscribe {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 5rem 0 5.9375rem 0;
  background-color: #FFFFFF;
  text-align: center;
  border: 0.3125rem;
}

.subscribe .form__subscribe::before {
  position: absolute;
  top: -5%;
  left: -43%;
  width: 311px;
  height: 584px;
  background-image: url("../assets/img/form__woman.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  z-index: 2;
}

.subscribe .form__subscribe::after {
  position: absolute;
  top: -3%;
  right: -36%;
  width: 219px;
  height: 524px;
  background-image: url("../assets/img/form__man.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  z-index: 2;
}

.subscribe .form__subscribe .form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.subscribe .form__subscribe .form__fieldset .form__legend {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(18, 18, 18, 0.4);
}

.subscribe .form__subscribe .form__fieldset .h2 {
  margin-top: 0.9375rem;
  font-size: 1.875rem;
}

.subscribe .form__subscribe .form__fieldset .h2 .sale {
  color: #E91E63;
}

.subscribe .form__subscribe .form__fieldset .input__email {
  font-family: "Spartan", sans-serif;
  display: block;
  width: 21.25rem;
  height: 4.0625rem;
  margin: 2.1875rem auto 0 auto;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgba(18, 18, 18, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  text-align: center;
  text-transform: none;
  cursor: pointer;
}