@import "../../scss/Variables.scss";

// === HEADER ===

.header__first {
  background-color: $color-dark;
  color: $color-white-08;

  .inner__container {
    @include flexSpaceBetween;
    padding: $base $base * 17;

    @media (max-width: $breakpoint-lg-min) {
      padding: $base * 2 $base * 8;
    }

    @media (max-width: $breakpoint-sm-min) {
      justify-content: center;
      flex-direction: column;
      padding: $base * 2 0;
    }

    @media (max-width: $breakpoint-xs-min) {
      justify-content: space-between;
      flex-direction: row;
      padding: $base * 2 $base * 4;
    }
  }
}

.header__first__wrapper {
  @include flexSpaceBetween;
  gap: $base;

  @media (max-width: $breakpoint-xs-min) {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.header__first__wrapper__img {
  width: $base * 3;
  height: auto;
}

.header__first__wrapper__link {
  font-size: $fs-xxs;
  font-weight: $fw-medium;
}

.header__second {
  color: $color-dark;
  border-bottom: 2px solid $color-gr-white;

  .inner__container {
    @include flexSpaceBetween;
    height: $base * 13;

    @media (max-width: $breakpoint-md-min) {
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      gap: $base * 2;
      height: auto;
      margin: $base * 2 0;
    }
  }
}

.nav {
  @include flexSpaceBetween;
  list-style: none;
  color: $color-dark;
  margin: 0;
  padding: 0;

  @media (max-width: $breakpoint-md-min) {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: $base * 7;
    right: -80vw;
    width: 80vw;
    height: 100vh;
    background-color: $color-white-09;
    transition: $transition;
  }

  @media (max-width: $breakpoint-sm-min) {
    top: $base * 10;
  }

  @media (max-width: $breakpoint-xs-min) {
    top: $base * 15;
  }
}

.header__second__wrapper {
  @include flexSpaceBetween;
  gap: $base * 7;
  list-style: none;
  color: $color-dark;
  margin: 0;
  padding: 0;

  @media (max-width: $breakpoint-xl-min) {
    gap: 0 $base * 3;
  }

  @media (max-width: $breakpoint-lg-min) {
    justify-content: center;
    flex-wrap: wrap;
  }

  @media (max-width: $breakpoint-md-min) {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: $base * 10;
    width: 50vw;
    margin-top: 10%;
  }
}

.nav__link {
  font-size: $fs-m;
  font-weight: $fw-regular;
  color: $color-dark;

  @media (max-width: $breakpoint-md-min) {
    font-size: $fs-xxl;
  }
}

.header__second__wrapper.visible {
  @media (max-width: $breakpoint-md-min) {
    display: flex;
    flex-direction: column;
    gap: $base * 10;
    width: 50vw;
    margin-top: 10%;
  }
}

.nav.visible {
  @media (max-width: $breakpoint-md-min) {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: $base * 7;
    right: 0;
    width: 80vw;
    height: 100vh;
    background-color: $color-white-09;
    z-index: 2;
    transition: $transition;
  }

  @media (max-width: $breakpoint-sm-min) {
    top: $base * 10;
  }

  @media (max-width: $breakpoint-xs-min) {
    top: $base * 15;
  }
}

// === / HEADER ===

// === HAMBURGER ===

.shadow {
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7);
}

.hamburger {
  display: none;
  margin: 0;
  padding: 0;
  width: $base * 6;
  height: $base * 6;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: $transition;

  @media (max-width: $breakpoint-xs-min) {
    display: block;
    z-index: 2;
  }
}

.hamburger.visible .bar:nth-child(2) {
  @media (max-width: $breakpoint-xs-min) {
    opacity: 0;
  }
}

.hamburger.visible .bar:nth-child(1) {
  @media (max-width: $breakpoint-xs-min) {
    width: $base * 6;
    transform: translate(0px, 8px) rotate(45deg);
  }
}

.hamburger.visible .bar:nth-child(3) {
  @media (max-width: $breakpoint-xs-min) {
    width: $base * 6;
    transform: translate(0px, -8px) rotate(-45deg);
  }
}

.bar {
  display: block;
  width: $base * 6;
  height: 3px;
  margin: 0;
  margin-top: $base;
  transition: all $transition ease;
  background-color: $color-dark;

  &:first-child {
    margin-top: 0;
  }
}

// === / HAMBURGER ===
