@import "../../scss/Variables.scss";

// === CATALOG HEADER ===

.catalog__header {
  background-color: $color-gr-white;

  .catalog__header__wrapper {
    @include flexSpaceBetween;
    gap: $base;
    margin: 0;
    padding: 0;
    padding-top: $base*2;
    list-style: none;

    .catalog__header__wrapper__item {

      .catalog__header__wrapper__item__subwrapper {
        @include flexCenter;
        gap: $base;
        margin: 0;
        padding: 0;
        list-style: none;

        .catalog__header__wrapper__item__subwrapper__item {
          font-size: $fs-xs;

          .arrow {
            font-size: $fs-xxs;
          }
        }

        .bold {
          font-weight: $fw-bold;
        }

        .reviews {
          padding-top: $base*2;
          font-weight: $fw-regular;
        }

        .share {
          width: $base*4;
          height: $base*4;
          background-image: url('./assets/img/share.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .availability {
    padding: 0;

    @media (max-width: $breakpoint-xs-min) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .catalog__heading {
    font-size: $fs-xxl;
    margin: 0;
    padding: $base*2 0 $base*5 0;
    text-align: center;
    text-transform: uppercase;
  }

  .catalog__heading__item {
    font-size: $fs-xxl;
    margin: 0;
    padding: $base*3 0 0 0;
    text-align: center;
    text-transform: none;
  }
}

.product__card__rating {
  @include flexSpaceBetween;
  list-style: none;
  margin: 0;
  padding: 0;
  
  .product__card__rating__item {
    @include flexCenter;
    list-style: none;
    width: $base*3;
    height: $base*3;
    background-position: center;
    background-repeat: no-repeat;
    
    &:nth-child(-n+5) {
      background-image: url('./assets/img/star__filled.svg');
    }
  }
}

// === / CATALOG HEADER ===