@import "../../scss/Variables.scss";

// === CATALOG HEADER ===

.catalog__header {
  background-color: $color-gr-white;

  .catalog__header__wrapper {
    @include flexSpaceBetween;
    gap: $base;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .availability {
    padding: 0;
    height: $base * 4;

    @media (max-width: $breakpoint-xs-min) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
.catalog__heading {
  font-size: $fs-xxl;
  margin: 0;
  padding: $base * 2 0 $base * 5 0;
  text-align: center;
  text-transform: uppercase;
}

.catalog__heading__item {
  font-size: $fs-xxl;
  letter-spacing: 1px;
  margin: 0;
  padding: $base * 3 0 0 0;
  text-align: center;
  text-transform: none;
}

.catalog__header__wrapper__item__subwrapper {
  @include flexCenter;
  gap: $base;
  margin: 0;
  padding: 0;
  list-style: none;

  .bold {
    font-weight: $fw-bold;
  }

  .reviews {
    padding-top: $base * 2;
    font-weight: $fw-regular;
  }

  .share {
    width: $base * 4;
    height: $base * 4;
    background-image: url("./assets/img/share.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.catalog__header__wrapper__item__subwrapper__item {
  font-size: $fs-xs;
  color: $color-dark;

  .arrow {
    font-size: $fs-xxs;
  }
}

.catalog__header__wrapper__item__subwrapper__item__link {
  color: $color-dark-06;
}

// === / CATALOG HEADER ===
