.filter .filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 32px;
  margin: 2.1875rem 0 1.875rem 0;
  padding: 0;
  list-style: none;
}

.filter .filter__list .filter__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter .filter__list .filter__list__item .filter__list__item__sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  gap: 0.625rem;
  list-style: none;
}

.filter .filter__list .filter__list__item .filter__list__item__sublist .filter__list__item__sublist__item {
  font-size: 0.9375rem;
  text-transform: uppercase;
}

.filter .filter__list .filter__list__item .buttons__grid {
  margin-left: 2.1875rem;
  gap: 1.5625rem;
}

.filter .filter__list .filter__list__item .buttons__sorting {
  gap: 0.3125rem;
}

.catalog .catalog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5.9375rem;
}

.catalog .catalog__header .h2 {
  font-size: 1.625rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.catalog .catalog__header .catalog__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(18, 18, 18, 0.6);
  cursor: pointer;
}

.catalog .catalog__header .catalog__filter .catalog__filter__item {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.catalog .catalog__header .catalog__filter .catalog__filter__item:hover {
  font-weight: 400;
  color: #121212;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}