.header__first {
  height: 1.5625rem;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.8);
}

.header__first .inner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__first .header__first__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.3125rem;
  height: 1.5625rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__first .header__first__wrapper .header__first__wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0.9375rem;
  font-size: 0.6875rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-size: auto;
}

.header__first .header__first__wrapper .header__first__wrapper__item:nth-child(1) {
  background-image: url("../assets/img/phone__header.svg");
}

.header__first .header__first__wrapper .header__first__wrapper__item:nth-child(3) {
  margin-left: 1.25rem;
  background-image: url("../assets/img/location__header.svg");
}

.header__first .header__first__wrapper .header__first__wrapper__item:nth-child(5) {
  margin-left: 2.1875rem;
  background-image: url("../assets/img/clock__header.svg");
}

.header__socials__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__socials__wrapper .header__socials__wrapper__item {
  margin: 0;
  padding: 0;
}

.header__socials__wrapper .header__socials__wrapper__item:nth-child(1) {
  background-image: url("../assets/img/facebook.svg");
}

.header__socials__wrapper .header__socials__wrapper__item:nth-child(2) {
  background-image: url("../assets/img/twitter.svg");
}

.header__socials__wrapper .header__socials__wrapper__item:nth-child(3) {
  background-image: url("../assets/img/instagram.svg");
}

.header__socials__wrapper .header__socials__wrapper__item:nth-child(4) {
  background-image: url("../assets/img/pinterest.svg");
}

.header__socials__wrapper .icon {
  height: 13px;
}

.header__second {
  color: #121212;
  border-bottom: 2px solid #F8F8F8;
}

.header__second .inner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 63px;
}

.header__second .inner__container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  color: #121212;
  margin: 0;
  margin-right: 3.125rem;
  padding: 0;
}

.header__second .inner__container .nav .header__second__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.1875rem;
  list-style: none;
  color: #121212;
  margin: 0;
  padding: 0;
}

.header__second .inner__container .nav .header__second__wrapper .header__second__wrapper__item .nav__link {
  font-size: 0.875rem;
  font-weight: 400;
  color: #121212;
}

.header__second .inner__container .socials__wrapper {
  gap: 1.875rem;
}

.header__second .inner__container .socials__wrapper .socials__wrapper__item:nth-child(1) {
  background-image: url("../assets/img/search.svg");
}

.header__second .inner__container .socials__wrapper .socials__wrapper__item:nth-child(2) {
  background-image: url("../assets/img/globe.svg");
}

.header__second .inner__container .socials__wrapper .socials__wrapper__item:nth-child(3) {
  background-image: url("../assets/img/user.svg");
}

.header__second .inner__container .socials__wrapper .socials__wrapper__item:nth-child(4) {
  background-image: url("../assets/img/cart.svg");
}