@import "../../scss/Variables.scss";

// === HEADER ===

.header__first {
  background-color: $color-dark;
  color: $color-white-08;

  .inner__container {
    @include flexSpaceBetween;
    padding: $base $base*17;

    @media (max-width: $breakpoint-lg-min) {
      padding: $base*2 $base*8;
    }

    @media (max-width: $breakpoint-sm-min) {
      justify-content: center;
      flex-direction: column;
      padding: $base*2 0;
    }
  }

  .header__first__wrapper {
    @include flexSpaceBetween;
    gap: $base;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $breakpoint-xs-min) {
      margin-bottom: $base*2;
      justify-content: center;
      flex-direction: column;
    }

    .header__first__wrapper__div {
      display: flex;

      &:nth-child(2) {
        margin-left: $base*4;

        @media (max-width: $breakpoint-md-min) {
          margin-left: 0;
        }
      }

      &:nth-child(3) {
        margin-left: $base*4;

        @media (max-width: $breakpoint-md-min) {
          margin-left: 0;
        }
      }
    }

    .header__first__wrapper__item {
      display: flex;
      align-items: center;
      height: $base*3;
      font-size: $fs-xxs;
      font-weight: $fw-medium;
      margin: 0;
      padding: 0;
      background-size: auto;
    }

    .phone {
      background-image: url('./assets/img/phone__header.svg');
    }

    .location {
      background-image: url('./assets/img/location__header.svg');
    }

    .clock {
      background-image: url('./assets/img/clock__header.svg');
    }
  }
}

.header__socials__wrapper {
  @include flexCenter;
  gap: $base;
  margin: 0;
  padding: 0;
  list-style: none;

  .header__socials__wrapper__item {
    margin: 0;
    padding: 0;
    cursor: pointer;
    
    &:nth-child(1) {
      background-image: url('./assets/img/facebook.svg');
    }
    
    &:nth-child(2) {
      background-image: url('./assets/img/twitter.svg');
    }
    
    &:nth-child(3) {
      background-image: url('./assets/img/instagram.svg');
    }
    
    &:nth-child(4) {
      background-image: url('./assets/img/pinterest.svg');
    }
  }

  .icon {
    height: $base*3;
  }
}

.header__second {
  color: $color-dark;
  border-bottom: 2px solid $color-gr-white;

  .inner__container {
    @include flexSpaceBetween;
    height: $base*13;

    @media (max-width: $breakpoint-md-min) {
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      gap: $base*2;
      height: auto;
      margin: $base*2 0;
    }

    .nav {
      @include flexSpaceBetween;
      list-style: none;
      color: $color-dark;
      margin: 0;
      padding: 0;

      .header__second__wrapper {
        @include flexSpaceBetween;
        gap: $base*7;
        list-style: none;
        color: $color-dark;
        margin: 0;
        padding: 0;

        @media (max-width: $breakpoint-xl-min) {
          justify-content: center;
          flex-wrap: wrap;
          gap: $base*2;
        }

        .header__second__wrapper__item {

          .nav__link {
            font-size: $fs-m;
            font-weight: $fw-regular;
            color: $color-dark;
          }
        }
      }
    }

    .socials__wrapper {
      gap: $base*6;
  
      .socials__wrapper__item {
  
        &:nth-child(1) {
          background-image: url('./assets/img/search.svg');
        }
  
        &:nth-child(2) {
          background-image: url('./assets/img/globe.svg');
        }
  
        &:nth-child(3) {
          background-image: url('./assets/img/user.svg');
        }
  
        &:nth-child(4) {
          background-image: url('./assets/img/cart.svg');
        }
      }
    }
  }
}

// === / HEADER ===

// === HAMBURGER ===

.shadow {
  box-shadow: 0 0 0 9999px rgba(0,0,0, 0.7);
}

.hamburger {
  display: none;
  margin: 0;
  padding: 0;
  width: $base*10;
  height: $base*10;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: $transition;

  &:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
}

.bar {
  display: block;
  width: $base*10;
  height: 3px;
  margin: 0;
  margin-top: $base*2;
  transition: all $transition ease;
  background-color: $color-white;

  &:first-child {
    margin-top: 0;
  }

  &.light {
    background-color: $color-dark;
  }
}

@media(max-width: 768px) {

  .hamburger {
    display: block;
    z-index: 2;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    width: $base*13;
    transform: translate(-8px, 12px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    width: $base*13;
    transform: translate(-8px, -12px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    right: -80%;
    width: 80%;
    height: 100vh;
    background-color: $color-dark;
    transition: $transition;

    &.light {
      background-color: $color-white;
    }
  }

  .nav-item {
    width: $base*30;
    margin-right: 35%;

    &:nth-child(1) {
      margin-top: 100px;
    }
  }

  .nav-menu.active {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    background-color: $color-dark;
    z-index: 2;
    transition: $transition;

    &.light {
      background-color: $color-white;
    }
  }
}

// === / HAMBURGER ===