@import "../../scss/Variables.scss";

// === SLIDER BANNERS ===

.banners__container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: $base*108 $base*51 $base*51; 
  grid-template-rows: 1fr;
  margin-top: $base*6;
  gap: 0 $base*6;
  grid-template-areas: 
    "slider women men"
    "slider accessories accessories";
  
  .slider {
    grid-area: slider;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: $base*108;
    height: $base*98;
    background-image: url('./assets/img/slider.jpg');
    background-size: contain;
    background-repeat: no-repeat;

    .slider__arrow {
      @include flexCenter;
      width: $base*8;
      height: $base*8;
      margin: 0;
      padding: 0;
      border: none;
      border-radius: 50%;
      background-color: $color-white;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
    
    .arrow__left {
      background-image: url('./assets/img/ellipse__arrow__left.svg');
    }

    .arrow__right {
      background-image: url('./assets/img/ellipse__arrow__right.svg');
    }

    .slider__title {
      margin: 0;
      padding: 0;
      background-color: $color-white;
      text-align: center;
      border: none;
      border-radius: $base;

      .h3 {
        padding-top: $base*5;
        font-size: $fs-xs;
        font-weight: $fw-semi-bold;
        letter-spacing: 1px;
        line-height: $base*3;
        color: $color-dark-04;
      }

      .h2 {
        padding: $base*3 $base*4;
        font-size: $fs-xl;
        font-weight: $fw-semi-bold;
        letter-spacing: 1px;
        line-height: $base*5;
      }
    }
  }
  
  .accessories {
    grid-area: accessories;
    @include flexCenter;
    width: $base*108;
    height: $base*52;
    background-image: url('./assets/img/accessories.jpg');
    background-size: contain;
    background-repeat: no-repeat;

    .slider__title {
      margin: 0;
      padding: 0;
      background-color: $color-white;
      text-align: center;
      border: none;
      border-radius: $base;

      .h2 {
        padding: $base*3 $base*4;
        font-size: $fs-m;
        font-weight: $fw-semi-bold;
        letter-spacing: 1px;
        line-height: $base*4;
      }
    }
  }
  
  .women {
    grid-area: women;
    @include flexCenter;
    width: $base*51;
    height: $base*40;
    background-image: url('./assets/img/women.jpg');
    background-size: contain;
    background-repeat: no-repeat;

    .slider__title {
      margin: 0;
      padding: 0;
      background-color: $color-white;
      text-align: center;
      border: none;
      border-radius: $base;

      .h2 {
        padding: $base*3 $base*4;
        font-size: $fs-m;
        font-weight: $fw-semi-bold;
        letter-spacing: 1px;
        line-height: $base*4;
      }
    }
  }
  
  .men {
    grid-area: men;
    @include flexCenter;
    width: $base*51;
    height: $base*40;
    background-image: url('./assets/img/men.jpg');
    background-size: contain;
    background-repeat: no-repeat;

    .slider__title {
      margin: 0;
      padding: 0;
      background-color: $color-white;
      text-align: center;
      border: none;
      border-radius: $base;

      .h2 {
        padding: $base*3 $base*4;
        font-size: $fs-m;
        font-weight: $fw-semi-bold;
        letter-spacing: 1px;
        line-height: $base*4;
      }
    }
  }
}

// === / SLIDER BANNERS ===