@import "../../scss/Variables.scss";

// === SUBSCRIBE SECONDARY ===

.subscribe__secondary {
  margin-top: 78px;
  background-color: $color-dark;

  .subscribe__secondary__container {
    @include flexSpaceBetween;
    margin: 0;
    padding: 0;
    height: $base*11;
    list-style: none;

    .subscribe__secondary__container__item {

      &:nth-child(2) {
        margin-right: $base*10;
      }

      .h2 {
        font-size: 11px;
        color: $color-gr-white;
      }

      .input__email {
        @include spartan;
        width: $base*77;
        height: $base*6;
        margin: 0;
        padding: 0;
        padding-left: $base*3;
        font-size: $fs-m;
        font-weight: $fw-medium;
        letter-spacing: 1px;
        color: $color-dark-04;
        background-color: rgba(255,255,255,0.2);
        border: none;
        text-align: left;
        text-transform: none;
        cursor: pointer;
      }

      .button__dark {
        @include flexCenter;
        display: inline;
        width: $base*22;
        height: $base*6;
        margin: 0 0 0 $base;
        font-size: 12px;
        border: 1px solid $color-white;
      }
    }
  }
}

// === / SUBSCRIBE SECONDARY ===

// === FOOTER LINKS ===

.footer__links__container {
  @include flexSpaceBetween;
  margin: 0;
  margin-top: $base*6;
  padding: 0;
  list-style: none;

  .footer__links__container__item {
    margin: 0;
    padding: 0;

    .footer__links__container__list {
      margin: 0;
      padding: 0;
      list-style: none;

      .footer__links__container__list__item {
        display: flex;
        align-items: center;
        gap: $base*2;
        font-size: $fs-xs;
        font-weight: $fw-regular;
        color: rgba(18,18,18,0.8);
        line-height: 34px;
        
        &:nth-child(1) {
          font-size: 14px;
          font-weight: $fw-semi-bold;
          color: $color-dark;
          text-transform: uppercase;
        }

        .icon {
          display: inline-block;
          width: $base*3;
          height: $base*3;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .location {
          background-image: url('./assets/img/location.svg');
        }

        .phone {
          background-image: url('./assets/img/phone.svg');
        }

        .clock {
          background-image: url('./assets/img/clock.svg');
        }

        .mail {
          background-image: url('./assets/img/mail.svg');
        }
      }
    }
  }
}

// === / FOOTER LINKS ===

// === FOOTER ===

.footer {
  margin-top: $base*7;
  padding: 12px 0;
  background-color: $color-gr-white;

  .inner__container {
    @include flexSpaceBetween;
    
    .footer__wrapper {
      @include flexCenter;
      gap: 12px;
      width: $base*76;
      height: 16px;
      margin: 0 $base*19 0 0;
      padding: 0;
      list-style: none;
  
      .footer__wrapper__item {
        width: 100%;
        height: 16px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
  
        &:nth-child(1) {
          background-image: url('./assets/img/stripe.svg');
        }
        
        &:nth-child(2) {
          background-image: url('./assets/img/aes256.svg');  
        }
        
        &:nth-child(3) {
          background-image: url('./assets/img/paypal.svg');  
        }
        
        &:nth-child(4) {
          background-image: url('./assets/img/visa.svg');  
        }
        
        &:nth-child(5) {
          background-image: url('./assets/img/mastercard.svg');  
        }
        
        &:nth-child(6) {
          background-image: url('./assets/img/discover.svg');  
        }
        
        &:nth-child(7) {
          background-image: url('./assets/img/american__express.svg');
        }
      }
    }

    .h3 {
      font-size: 11px;
      font-weight: $fw-medium;
      text-transform: none;
      color: rgba(18,18,18,0.8);
    }
  }

  .h3 {
    font-weight: $fw-medium;
    text-transform: none;
    color: rgba(18,18,18,0.8);

    a {
      color: rgba(18,18,18,0.8);
    }
  }
}

// === FOOTER ===