@import "../../scss/Variables.scss";

// === FOOTER LINKS ===

.footer__links__container {
  @include flexSpaceBetween;
  margin: $base*8 0 0 0;
  padding: 0;
  list-style: none;

  .footer__links__container__item {
    margin: 0;
    padding: 0;

    .footer__links__container__list {
      display: flex;
      flex-direction: column;
      gap: $base*4;
      margin: 0;
      padding: 0;
      list-style: none;

      .footer__links__container__list__header {
        font-size: $fs-m;
        font-weight: $fw-semi-bold;
        color: $color-dark;
        text-transform: uppercase;
      }

      .footer__links__container__list__item {
        display: flex;
        align-items: center;
        gap: $base*2;
        font-size: $fs-xs;
        font-weight: $fw-regular;
        color: rgba(18,18,18,0.8);

        .icon {
          display: inline-block;
          width: $base*3;
          height: $base*3;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .location {
          background-image: url('./assets/img/location.svg');
        }

        .phone {
          background-image: url('./assets/img/phone.svg');
        }

        .clock {
          background-image: url('./assets/img/clock.svg');
        }

        .mail {
          background-image: url('./assets/img/mail.svg');
        }
      }
    }
  }
}

// === / FOOTER LINKS ===

// === FOOTER ===

.footer {
  margin-top: $base*7;
  background-color: $color-gr-white;

  .inner__container {
    @include flexSpaceBetween;
    margin-top: $base*8;
    padding: $base*2 0;
    
    .footer__wrapper {
      @include flexCenter;
      gap: $base*3;
      width: $base*76;
      margin: 0;
      padding: 0;
      list-style: none;
  
      .footer__wrapper__item {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
  
        &:nth-child(1) {
          background-image: url('./assets/img/stripe.svg');
        }
        
        &:nth-child(2) {
          background-image: url('./assets/img/aes256.svg');  
        }
        
        &:nth-child(3) {
          background-image: url('./assets/img/paypal.svg');  
        }
        
        &:nth-child(4) {
          background-image: url('./assets/img/visa.svg');  
        }
        
        &:nth-child(5) {
          background-image: url('./assets/img/mastercard.svg');  
        }
        
        &:nth-child(6) {
          background-image: url('./assets/img/discover.svg');  
        }
        
        &:nth-child(7) {
          background-image: url('./assets/img/american__express.svg');
        }
      }
    }

    .h3 {
      font-size: $fs-xxs;
      font-weight: $fw-medium;
      text-transform: none;
      color: rgba(18,18,18,0.8);
    }
  }

  .h3 {
    font-weight: $fw-medium;
    text-transform: none;
    color: rgba(18,18,18,0.8);

    a {
      color: rgba(18,18,18,0.8);
    }
  }
}

// === FOOTER ===