@import "../../scss/Variables.scss";

.socials__wrapper {
  @include flexEnd;
  gap: $base * 2;

  @media (max-width: $breakpoint-xxs-min) {
    gap: $base;
  }

  .facebook {
    background-image: url("./assets/img/facebook.svg");
  }

  .twitter {
    background-image: url("./assets/img/twitter.svg");
  }

  .instagram {
    background-image: url("./assets/img/instagram.svg");
  }

  .pinterest {
    background-image: url("./assets/img/pinterest.svg");
  }
}

.socials__wrapper__item {
  width: $base * 4;
  height: $base * 4;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
