@import "../../scss/Variables.scss";

.socials__wrapper {
  @include flexSpaceBetween;
  gap: 2%;
  width: 10%;
  height: auto;

  .socials__wrapper__item {
    @include flexCenter;
    width: 100%;
    height: auto;
  }
}