@import "../../scss/Variables.scss";

// === CATALOG ===

.catalog {
  .catalog__header {
    @include flexSpaceBetween;
    margin-top: $base * 20;
    background-color: transparent;

    .h2 {
      font-size: $fs-xxl;
      font-weight: $fw-semi-bold;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .catalog__filter {
      @include flexSpaceBetween;
      gap: $base * 8;
      margin: 0;
      padding: 0;
      list-style: none;
      text-transform: uppercase;
      font-size: $fs-xs;
      font-weight: $fw-regular;
      color: $color-dark-06;
      cursor: pointer;

      .catalog__filter__item {
        transition: $transition;

        &:hover {
          font-weight: $fw-regular;
          color: $color-dark;
          transition: $transition;
        }
      }
    }
  }
}

// === / CATALOG ===

// === RATING ===

.product__card__rating {
  @include flexSpaceBetween;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $breakpoint-md-min) {
    width: 25%;
  }

  @media (max-width: $breakpoint-sm-min) {
    width: 30%;
  }

  @media (max-width: $breakpoint-sm-min) {
    width: 35%;
  }

  @media (max-width: $breakpoint-xs-min) {
    width: 40%;
  }

  @media (max-width: $breakpoint-xxs-min) {
    width: 45%;
  }

  .product__card__rating__item {
    @include flexCenter;
    list-style: none;
    width: 14px;
    height: $base * 3;
  }
}

// === / RATING ===
