@import "./scss/Variables.scss";

// === FONTS ===

@mixin font ($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("./assets/fonts/#{$file_name}.woff") format("woff"), url("./assets/fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";

// === / FONTS ===

// === COMMON ===

html {
  scroll-behavior: smooth;
}

body {
  @include spartan;
  background-color: $color-white;
  margin: 0;
  
  &::-webkit-scrollbar {
    width: $base;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 $base rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-dark;
  }
}

.outer__container {
  max-width: $base*256;
  margin: 0 auto;
  padding: 0;
}

.inner__container {
  max-width: $base*222;
  margin: 0 auto;
  padding: 0 $base*17;

  @media (max-width: $breakpoint-lg-min) {
    padding: 0 $base*8;
  }

  @media (max-width: $breakpoint-xs-min) {
    padding: 0 $base*4;
  }
}

.button__dark {
  @include spartan;
  display: block;
  width: $base*68;
  height: $base*13;
  margin: $base*5 auto 0 auto;
  padding: 0;
  font-size: $fs-l;
  font-weight: $fw-medium;
  letter-spacing: 1px;
  color: rgba(255,255,255,0.9);
  background-color: $color-dark;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button__loading {
  display: block;
  margin: $base*9 auto 0 auto;
  padding: 0;
  padding-right: $base*2;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button__filter {
  @include flexCenter;
  width: $base*6;
  height: $base*6;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url('./assets/img/filter.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.button__grid__list {
  width: $base*4;
  height: $base*4;
  background-image: url('./assets/img/list.svg');
}

.button__grid__square {
  width: $base*4;
  height: $base*4;
  background-image: url('./assets/img/square.svg');
}

.button__sorting {
  width: $base*3;
  height: $base*3;
  background-image: url('./assets/img/arrowdown.svg');
}

.button__all {
  @include flexCenter;
  width: 100%;
  margin: 0;
  margin-top: $base*10;
  padding: 0;
  text-align: center;
  background-color: $color-gr-white;
  border: none;

  .button__all__link {
    @include spartan;
    width: 100%;
    padding: $base*3 0;
    font-size: $fs-s;
    font-weight: $fw-medium;
    letter-spacing: 1px;
    color: $color-dark-08;
    text-transform: uppercase;
  }
}

.h1 {
  margin: 0;
  padding: 0;
  
  .header-nav-logo {
    display: block;
    width: $base*30;
    height: $base*4;
    background-image: url('./assets/img/clevershop.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.h2 {
  @include spartan;
  margin: 0;
  padding: 0;
  font-size: $fs-xl;
  font-weight: $fw-semi-bold;
  color: $color-dark;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.h3 {
  @include spartan;
  margin: 0;
  padding: 0;
  font-size: $fs-xs;
  font-weight: $fw-semi-bold;
  color: $color-dark-04;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: $color-white;
}

.icon {
  display: flex;
  align-items: center;
  width: $base*4;
  height: $base*4;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.socials__wrapper {
  @include flexCenter;
  gap: $base*2;
  margin: 0;
  padding: 0;
  list-style: none;

  .socials__wrapper__item {
    margin: 0;
    padding: 0;
    cursor: pointer;
    
    &:nth-child(1) {
      background-image: url('./assets/img/facebook.svg');
    }
    
    &:nth-child(2) {
      background-image: url('./assets/img/twitter.svg');
    }
    
    &:nth-child(3) {
      background-image: url('./assets/img/instagram.svg');
    }
    
    &:nth-child(4) {
      background-image: url('./assets/img/pinterest.svg');
    }
  }
}

// === / COMMON ===