@import "../../scss/Variables.scss";

// === BANNERS SECTION ===

.banners__section {
  
  .banners__section__container {
    @include flexSpaceBetween;
    margin: $base*18 0 0 0;
    padding: 0;
    list-style: none;
  }

  .banners__section__container__item {
    @include flexCenter;
    width: 45%;
    height: auto;
  }
  
  .banners__section__container__item__title {
    margin: 0;
    padding: 0;
    background-color: $color-white;
    text-align: center;
    border: none;
    border-radius: $base;

    .h3 {
      padding-top: $base*5;
      font-size: $fs-xs;
      font-weight: $fw-semi-bold;
      letter-spacing: 1px;
      color: $color-dark-06;
    }

    .h2 {
      padding: $base*3 $base*4;
      font-size: $fs-l;
      font-weight: $fw-semi-bold;
      letter-spacing: 1px;

      .sale {
        color: $color-sale;
      }
    }
  }
}

// === BANNERS SECTION ===