.banners__section .banners__section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5.9375rem 0 0 0;
  padding: 0;
  list-style: none;
}

.banners__section .banners__section__container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.75rem;
  height: 16.25rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.banners__section .banners__section__container__item:nth-child(1) {
  background-image: url("../assets/img/section__newseason.jpg");
}

.banners__section .banners__section__container__item:nth-child(2) {
  background-image: url("../assets/img/section__sale.jpg");
}

.banners__section .banners__section__container__item__title {
  text-align: center;
  background-color: #FFFFFF;
  border: 0.3125rem;
}

.banners__section .banners__section__container__item__title .h3 {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgba(18, 18, 18, 0.6);
}

.banners__section .banners__section__container__item__title .h2 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #121212;
}