@import "../../scss/Variables.scss";

.contacts__wrapper {
  @include flexSpaceBetween;
  gap: 2%;
  width: 10%;
  height: auto;

  .contacts__wrapper__item {
    @include flexCenter;
    width: 100%;
    height: auto;
    color: $color-dark-08;
  }
}